.FormPage select {
  padding: 10px;
  height: 40px;
  box-sizing: border-box;
  border: 0;
  background-color: #fff;
  border-radius: 5px;
  width: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  user-select: none;
  outline: none; }

.FormPage_Header {
  background: url("./assets/header.png") center no-repeat;
  height: 400px;
  width: 100%; }
  .FormPage_Header_Nav {
    color: #fff;
    padding: 30px 25px 0;
    font-size: 24px;
    position: absolute;
    right: 0; }
    .FormPage_Header_Nav > a {
      margin: 0 40px; }
  .FormPage_Header_Container {
    clear: both;
    font-weight: bold;
    color: #fff;
    line-height: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 36px;
    height: 100%; }

.FormPage_Main-Container {
  margin: 40px 0;
  display: flex;
  justify-content: center; }
  .FormPage_Main-Container_Wrapper {
    width: 80%; }
  .FormPage_Main-Container_Question {
    margin: 30px 0; }
    .FormPage_Main-Container_Question_Title {
      font-size: 22px;
      font-weight: bold;
      padding: 0; }
    .FormPage_Main-Container_Question_Variants {
      display: flex;
      justify-content: space-between; }
  .FormPage_Main-Container_Submit {
    float: right;
    margin: 40px 0;
    width: 200px;
    height: 60px;
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    border-radius: 5px;
    background-color: #DEBA4D; }
  .FormPage_Main-Container_Input {
    outline: none;
    user-select: none;
    box-sizing: border-box;
    width: 50%;
    height: 40px;
    display: block;
    margin: 16px 0;
    padding: 10px;
    border: 2px solid #e0e0e0;
    border-radius: 5px; }
  .FormPage_Main-Container_Footer {
    background-color: #A8A5A5;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .FormPage_Main-Container_Footer_Nav {
      color: #fff;
      font-size: 16px;
      text-align: center; }

@media (max-width: 1200px) {
  .FormPage select {
    padding: 5px;
    height: 30px; }
  .FormPage_Header {
    height: 200px; }
    .FormPage_Header_Nav {
      padding: 15px 10px 0;
      font-size: 16px; }
      .FormPage_Header_Nav > a {
        margin: 0 20px; }
    .FormPage_Header_Container {
      line-height: 130%;
      font-size: 19px;
      height: 100%; }
  .FormPage_Main-Container {
    margin: 0; }
    .FormPage_Main-Container_Question_Title {
      font-size: 13px;
      padding: 7px 0; }
    .FormPage_Main-Container_Submit {
      margin: 10px 0;
      width: 100px;
      height: 35px;
      font-size: 15px;
      line-height: 35px; }
    .FormPage_Main-Container_Input {
      height: 30px;
      padding: 5px;
      margin: 0; } }
