$footerHeight: 80px;
.ApartmentsPage {
  &_Footer{
    position: relative;
    background-color: #A8A5A5;
    height:$footerHeight ;
    display: flex;
    align-items: center;
    justify-content: center;
    &_Nav {
      color: #fff;
      font-size: 16px;
      text-align: center;
    }
  }
  &_Feedback {
    color: #fff;
    position: absolute;
    top: 45%;
    right: 5%;;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
  }
  &_Header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    background: url('../assets/new-york-city-wallpaper-3.png') center no-repeat;
  }

  &_Content {
    margin: 40px 80px;

    &_Row {
      display: flex;
      margin: 40px 0;
    }

    &_Column {
      flex: 0.5;
      padding: 0 20px 0 0;

      &:nth-of-type(2n) {
        padding: 0 0 0 20px;
      }
    }
  }

  &_Info {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  &_Control {
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 40px auto 20px;

    & > span {
      font-weight: bold;
      margin-right: 20px;
    }

    & > div {
      width: 400px;
      margin: 4px 20px 0;
    }

    & > button {
      cursor: pointer;
      margin-left: 20px;
    }
  }

  &_List {
    overflow-y: scroll;
    height: 600px;
    &_Item {
      position: relative;
      margin-top: 10px;
      padding: 10px 20px;
      background: #ebebeb;
      font-size: 14px;
      cursor: pointer;
      user-select: none;

      &:first-of-type {
        margin-top: 0;
      }

      &:nth-of-type(2n) {
        background: #fff;
      }

      & > div {
        display: flex;
        padding: 5px 0;

        & > span {
          flex: 0.8;

          &:nth-of-type(2n-1) {
            flex: 0.2;
            font-weight: bold;
          }
        }
      }

      &__selected {
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 5px;
          height: 100%;
          background: #ea4335;
        }
      }
    }
  }
}